<h2>Job Details</h2>

<!-- <p>
  TODO: Add a real job
</p> -->

<div>
  <strong><%= @job.title %></strong> at <%= @job.company %>
  <p>
    <%= @job.description %>
  </p>

  <%= link_to "Edit Job", edit_job_path(@job.id) %>
  <%= link_to "Delete Job", delete_job_path(@job.id), method: :delete %>
</div>
